<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dictionaryFilePath" value="../../../data/dictionary.txt"/>
		<add key="logFilePath" value="../../../log/log.txt"/>
		<add key="dictionaryFilePath" value="../../../data/dictionary.txt"/>
	</appSettings>
</configuration>